<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div class="contained">
<div class="container-fluid">

<h1>Listing Interviews Events</h1>
  <table>
  <tr>
    <th>Subject</th>
    <th>Interviewer email</th>
    <th>Interviewee email</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Attachment</th>
    <th>Change</th>
  </tr>

  <% @interviews.each do |interview| %>
    <tr>
      <td><%= interview.title %></td>
      <td><%= interview.interviewer_email %></td>
      <td><%= interview.interviewee_email %></td>
      <td><%= interview.try(:start_time).try(:strftime , "%m/%d/%Y at %I:%M%p") %></td>
      <td><%= interview.try(:end_time).try(:strftime , "%m/%d/%Y at %I:%M%p") %></td>
      <td><%= link_to 'Resume', interview.avatar.url %></td>
      <td><%= link_to 'Show', interview_path(interview) %></td>
    </tr>
  <% end %>
</table>
</div>
</div>

