<div class="container">
<div class="container-fluid">

  <div class="form-group">
    <strong>Title:</strong>
    <%= @interview.title %>
  </div>

  <div class="form-group">
    <strong>Interviewer email:</strong>
    <%= @interview.interviewer_email %>
  </div>

  <div class="form-group">
    <strong>Interviewee email:</strong>
    <%= @interview.interviewee_email %>
  </div>

  <div class="form-group">
    <strong>Start time:</strong>
    <%= @interview.try(:start_time).try(:strftime , "%m/%d/%Y at %I:%M%p")  %>
  </div>
  
  <div class="form-group">
    <strong>End time:</strong>
    <%= @interview.try(:end_time).try(:strftime , "%m/%d/%Y at %I:%M%p") %>
  </div>

  <div class="form-group">
    <strong>Resume:</strong>
    <%= link_to 'Resume', @interview.avatar.url %>
  </div>
  <div class="form-group text-center">
  <%= link_to 'Edit', edit_interview_path(@interview) %> |
  <%= link_to 'Destroy', interview_path(@interview), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', interviews_path %>
  </div>
</div>
</div>