<p>
  <strong>Title:</strong>
  <%= @interview.title %>
</p>
 
<p>
  <strong>Interviewer email:</strong>
  <%= @interview.interviewer_email %>
</p>


<p>
  <strong>Interviewee email:</strong>
  <%= @interview.interviewee_email %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @interview.try(:start_time).try(:strftime , "%m/%d/%Y at %I:%M%p")  %>
</p>

<p>
  <strong>End time:</strong>
  <%= @interview.try(:end_time).try(:strftime , "%m/%d/%Y at %I:%M%p") %>
</p>

<p>
  <strong>Resume:</strong>
  <%= link_to 'Resume', @interview.avatar.url %>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>